apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: agentdeployments.platform.langopen.dev
spec:
  group: platform.langopen.dev
  names:
    kind: AgentDeployment
    listKind: AgentDeploymentList
    plural: agentdeployments
    singular: agentdeployment
    shortNames:
      - agdep
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                rollbackImage:
                  type: string
                replicas:
                  type: integer
                  minimum: 1
                runtimeClassName:
                  type: string
                mode:
                  type: string
                  enum: [mode_a, mode_b]
                egressAllowlist:
                  type: array
                  items:
                    type: string
                sandboxTemplate:
                  type: string
                warmPoolReplicas:
                  type: integer
                  minimum: 0
            status:
              type: object
              properties:
                observedGeneration:
                  type: integer
                ready:
                  type: boolean
                message:
                  type: string
      subresources:
        status: {}
