fullnameOverride: langopen

global:
  image:
    repository: ghcr.io/mayflower/langopen
    tag: latest
    pullPolicy: Always
  imagePullSecrets:
    - name: ghcr.io
  envFromSecret: langopen-runtime-secrets

env:
  langopenEnv: prod
  builderUrl: http://langopen-builder
  controlPlaneSyncAgentDeployment: true
  controlPlaneSyncAgentDeploymentStrict: false
  agentDeploymentNamespace: langopen
  agentDeploymentImage: ghcr.io/mayflower/langopen/api-server:latest
  deploymentVarsEncryptionKey: ""

apiServer:
  replicas: 1
  runtimeClassName: gvisor
  autoMigrate: true
  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-intern-dns
    hosts:
      - host: langopen.data.mayflower.zone
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: langopen-api-tls
        hosts:
          - langopen.data.mayflower.zone

worker:
  replicas: 1
  executor: runtime
  runtimeRunnerUrl: http://langopen-runtime-runner
  runMode: mode_a
  modeBAllowSimulatedSandbox: false
  sandboxEnabled: false
  sandboxNamespace: langopen
  sandboxTemplateName: langopen-default
  metricsAddr: ":9091"

runtimeRunner:
  enabled: true
  replicas: 1
  writableHome: /home/langopen
  cacheDir: /.cache

controlPlane:
  enabled: true
  replicas: 1

builder:
  enabled: true
  replicas: 1
  executeJobs: true
  buildNamespace: langopen

operator:
  enabled: true
  replicas: 1

portal:
  enabled: true
  replicas: 1
  env:
    platformDataApiBaseUrl: http://langopen-api-server
    platformControlApiBaseUrl: http://langopen-control-plane
    grafanaBaseUrl: https://grafana.data.mayflower.zone
    grafanaDashboardUrl: https://grafana.data.mayflower.zone/d/langopen-overview/langopen-overview
  ingress:
    enabled: true
    className: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-intern-dns
    hosts:
      - host: langopen-portal.data.mayflower.zone
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: langopen-portal-tls
        hosts:
          - langopen-portal.data.mayflower.zone

networkPolicy:
  enabled: true
  allowBackendEgress: true
  allowHttpsEgressForRuntime: true
  runtimeEgressComponents:
    - runtime-runner
    - builder
  runtimeEgressPorts:
    - 443

observability:
  alerts:
    enabled: true
